# Requirements for Scopal Boards

# utils
ipython

# Django
Django==2
django-cms
django-annoying==0.10.3
django-widget-tweaks==1.4.1
icalendar==3.11.7
Markdown==2.6.9
python-dateutil==2.6.1
pytz==2017.2
six==1.11.0

# Frontend
django-webpack-loader

# Rest API
djangorestframework
djangorestframework-jwt
django-cors-headers

# Postgres Manager
psycopg2
