<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>interface</title>
    <link href=/static/dist/css/app.7e71a0fdae9f682cf41e76de506465e6.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/static/dist/js/manifest.49397cf676c8dabac7af.js></script>
<script type=text/javascript src=/static/dist/js/vendor.258fe2a14e2ef9089ec1.js></script>
<script type=text/javascript src=/static/dist/js/app.a49933a64561c6f37429.js></script>
</body>
</html>
